{% extends "base.html" %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">

            <p class="lead fw-normal text-white-50 mb-0"><h2>About </h2>
            <p style="text-align: justify;">
Welcome to my eCommerce website! I'm Shah Wali, a passionate Django developer with a strong background in Python, web development, and problem-solving.

I specialize in building efficient and scalable web applications, and this project is a reflection of my skills in Django, MySQL, HTML, CSS, and JavaScript. My goal is to create a seamless online shopping experience with a user-friendly interface, secure transactions, and smooth navigation.

This eCommerce platform is designed to help businesses and customers connect easily. Whether you're here to browse products or gain insights into Django development, I hope you find this project useful!

Want to collaborate or provide feedback?</p></p>
        </div>
    </div>
</header>
{% endblock %}
