{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">CheckOut</h1>
                <p class="lead fw-normal text-white-50 mb-0">CheckOut Your Product</p>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card shadow-sm border-0">
                        <div class="card-body p-4">


                            <div class="card text-center">
                              <div class="card-header">
                                Added product
                              </div>

                              <div class="card-body">
                                  {% for product in products %}
                                  <h5> Name: {{ product.name }}</h5>

                                      <h6>
                                             <p class="card-text">{% if product.is_sale %}Sale Price: ${{ product.sale_price}} - <strike>Price ${{ product.price }}</strike></p>
                                                   {% else %}
                                                    Price ${{ product.price }}
                                            {% endif %}
                                      </h6>

                                      <br>
                                      <br>
                                  {% endfor %}
                              <h3>Total ${{ total }}</h3>
                                  <br>

                                  <a href="{% url 'cart_summary' %}" class="btn btn-secondary">Update Item</a>


                              </div>

                            </div>
                                        <br>
                                        <br>
                                        <br>
                         <div class="card text-center">
                              <div class="card-header">
                                Shipping Info
                              </div>

                              <div class="card-body">
                                {% if shipping_address %}

                                        <p><strong>Full Name:</strong> {{ shipping_address.shipping_full_name }}</p>
                                        <p><strong>Phone:</strong> {{ shipping_address.shipping_phone }}</p>
                                        <p><strong>Email:</strong> {{ shipping_address.shipping_email }}</p>
                                        <p><strong>Address 1:</strong> {{ shipping_address.shipping_address1 }}</p>
                                        <p><strong>Address 2:</strong> {{ shipping_address.shipping_address2 }}</p>
                                        <p><strong>City:</strong> {{ shipping_address.shipping_city }}</p>
                                        <p><strong>Zipcode:</strong> {{ shipping_address.shipping_zipcode }}</p>
                                        <p><strong>Country:</strong> {{ shipping_address.shipping_country }}</p>
                                    {% else %}
                                        <p>No shipping address found.</p>
                                    {% endif %}
                                  <a href="{% url 'checkout' %}" class="btn btn-outline-secondary"> Update Info</a>

                              </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
